<!DOCTYPE HTML>
<html>
<header>
    <link rel="stylesheet"href="/css/landing.css"/>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>Home</title>
</header>
<body>
<div class="container">
    <div class="split left">
       <h1>Listener</h1>
        <a href="/Fartist" class="button">listener</a>
        
    </div>
    <div class="split right">
        <h1>Artist</h1>
        <a href="/Fartist" class="button">artist</a>
        
    </div>
</div>
<script src="/js/landing.js">
</script>
</body>
</html>